---
title: Tetheron | Presskit
---

<div class="container">
	<div class="page-header">
		<h1><%= data.presskit.title %> <span class='subtitle'>Press Kit</span></h1>
	</div>
	<p class='pull-right lead'><%= data.presskit.tagline %></p>
	<h2>Fact Sheet</h2>
	<div class='panel panel-default'>
		<div class='panel-body'>
			<dl class="dl-horizontal">
				<dt>Title</dt>
				<dd><%= data.presskit.title %></dd>
				<dt>Developer</dt>
				<dd><%= data.presskit.developer %></dd>
				<dt>Location</dt>
				<dd><%= data.presskit.location %></dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Release Date</dt>
				<dd><%= data.presskit.release_date || "Coming soon"%></dd>
				<dt>Price<%= "s" if data.presskit.prices? and data.presskit.prices.length > 1 %></dt>
				<% if data.presskit.prices %>
				<% data.presskit.prices.each do |p| %>
				<dd><%= p.currency %> <%= p.price %></dd>
				<% end %>
				<% else %>
				<dd>Coming soon</dd>
				<% end %>
				<dt>Platform<%= "s" if data.presskit.platforms? and data.presskit.platforms.length > 1 %></dt>
				<% if data.presskit.platforms? %>
				<% data.presskit.platforms.each do |p| %>
				<dd><%= if p.link? then (link_to p.name, p.link) else p.name end %></dd>
				<% end %>
				<% else %>
				<dd>Coming soon</dd>
				<% end %>
			</dl>
			<dl class="dl-horizontal">
				<dt>Web</dt>
				<dd><%= link_to data.presskit.website, data.presskit.website %></dd>
				<dt>Twitter</dt>
				<dd><%= link_to ("@"+data.presskit.twitter), ("http://twitter.com/"+data.presskit.twitter) %></dd>
				<dt>Contact</dt>
				<dd><%= link_to data.presskit.contact, ("mailto:"+data.presskit.contact) %></dd>
			</dl>
		</div>
	</div>
	<h2>Description</h2>
	<%= htmlify(data.presskit.description) %>
	<h2>History</h2>
	<%= htmlify(data.presskit.history) %>
	<h2>Features</h2>
	<%= htmlify(data.presskit.features) %>
	<% if data.presskit.request_review_copy? %>
	<h2>Request Review Copy</h2>
	<p>Contact <%= link_to data.presskit.contact, ("mailto:"+data.presskit.contact) %> to request an advance/review copy of <%= data.presskit.title %>.</p>
	<% end %>
	<h2>Credits</h2>
	<dl class="dl-horizontal">
		<% data.presskit.credits.each do |c| %>
		<dt><%= link_to c.name c.website %></dt>
		<dd><%= c.role %></dd>
		<% end %>
	</dl>
	<h2>Video<% "s" if data.presskit.videos.length > 1 %></h2>
	<% data.presskit.videos.each do |v| %>
	<!-- 16:9 aspect ratio -->
	<div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/<%= v.youtube %>?rel=0&fs=1" allowfullscreen="true"></iframe>
  	</div>
	<% end %>
	<h2>Screenshots</h2>
	<div class='row'>
	<% data.presskit.images.each_with_index do |i, index| %>
	<div class="col-xs-4">
	<%= link_to (thumb_tag ('screenshots/'+i), '300x', class: 'img-responsive'), (image_path ('screenshots/'+i)), {class: 'thumbnail'} %>
	</div>
	<% end %>
	<a href="Tetheron_screenshots.zip">
		<button type="button" class="btn btn-default btn-lg btn-block">Download All Screenshots .zip (<%= (File.size("build/Tetheron_screenshots.zip").to_f / 2**20).round(2) %> MB)</button>
	</a>
	</div>
</div>
<footer class="footer">
	<div class="container">
		<p class="text-muted"><%= link_to data.presskit.contact, ("mailto:"+data.presskit.contact) %></p>
	</div>
</footer>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<%= javascript_include_tag  "ie10-viewport-bug-workaround" %>